<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Epam\Crud\Api\EntityRepositoryInterface" type="Epam\Crud\Model\EntityRepository" />
    <preference for="Epam\Crud\Api\Data\EntityInterface" type="Epam\Crud\Model\Entity" />
</config>
