<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="epam_virtual_type" frontName="epam_virtual_type">
            <module name="Epam_VirtualTypes" />
        </route>
    </router>
</config>
